<div class="card text-center border-dark bg-info  mx-auto" style="width: 75rem; margin-top:100px;">
    <form class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Concept</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label">Ammount</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label">Date</label>
          <input type="datetime" class="form-control" placeholder="10/12/2018...">
        </div>
        <div class="col-md-6">
          <label class="form-label">Description</label>
          <input type="text" class="form-control" placeholder="Something...">
        </div>
        <!-- <div class="col-12">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div> -->
        <div class="col-12" style="padding-top:20px;">
          <button type="submit" class="btn btn-outline-success" style="margin-bottom: 10px ;">Update transaction</button>
        </div>
      </form>
</div>
